/**
 * Background Colors
 **/
.mhk-bg-primary {
	background: $everestforms;
}

.mhk-bg-primary-soft {
	background: $everestforms-soft;
}


/**
 * Colors
 **/
.mhk-color-white {
	color: $color-white;
}

.mhk-color-primary {
	color: $everestforms;
}
