@font-face {
  font-family: MuhikuPlug;
  src: url("../fonts/MuhikuPlug.eot?q9mcqj");
  src: url("../fonts/MuhikuPlug.eot?q9mcqj#iefix") format("embedded-opentype"),
    url("../fonts/MuhikuPlug.ttf?q9mcqj") format("truetype"),
    url("../fonts/MuhikuPlug.woff?q9mcqj") format("woff"),
    url("../fonts/MuhikuPlug.svg?q9mcqj#MuhikuPlug") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
.mhk-icon {
  padding: 8px;
  border-radius: 4px;
}
.mhk-icon * {
  display: block;
}
.mhk-h2 {
  font-size: 28px;
  font-weight: 600;
}
.mhk-text-center {
  text-align: center;
}
#mhk-modal-wrap {
  display: none;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 250px;
  overflow: hidden;
  margin-right: -250px;
  margin-top: -125px;
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 100105;
  transition: height 0.2s, margin-top 0.2s;
}
#mhk-modal-wrap #mhk-modal {
  height: 100%;
  position: relative;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-title {
  background: #fcfcfc;
  border-bottom: 1px solid #dfdfdf;
  height: 36px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  padding: 0 16px 0 36px;
  top: 0;
  left: 0;
  right: 0;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-close {
  color: #666;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  text-align: center;
  background: 100% 0;
  border: none;
  cursor: pointer;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-close:focus,
#mhk-modal-wrap #mhk-modal #mhk-modal-close:hover {
  color: #2ea2cc;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-close:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}
#mhk-modal-wrap #mhk-modal #mhk-modal-close::before {
  content: "\f158";
  font: normal 20px/36px dashicons;
  vertical-align: top;
  speak: none;
  width: 36px;
  height: 36px;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-inner {
  padding: 0 16px 50px;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-inner #mhk-modal-notice {
  padding: 10px;
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}
#mhk-modal-wrap #mhk-modal #mhk-modal-inner #mhk-modal-options {
  padding: 8px 0 12px;
}
#mhk-modal-wrap
  #mhk-modal
  #mhk-modal-inner
  #mhk-modal-options
  .mhk-modal-inline {
  margin: 0;
  padding: 0 0 0 20px;
  display: inline-block;
}
#mhk-modal-wrap
  #mhk-modal
  #mhk-modal-inner
  #mhk-modal-options
  #mhk-modal-select-form {
  max-width: 100%;
  margin-bottom: 1em;
}
#mhk-modal-wrap #mhk-modal .submitbox {
  padding: 8px 16px;
  background: #fcfcfc;
  border-top: 1px solid #dfdfdf;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#mhk-modal-wrap #mhk-modal .submitbox #mhk-modal-cancel {
  float: right;
  line-height: 25px;
}
#mhk-modal-wrap #mhk-modal .submitbox #mhk-modal-update {
  float: left;
  line-height: 23px;
}
#mhk-modal-wrap #mhk-modal .submitbox #mhk-modal-update #mhk-modal-submit {
  float: left;
  margin-bottom: 0;
}
#mhk-modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: 0.7;
  z-index: 100100;
}
@media screen and (max-width: 782px) {
  #mhk-modal-wrap {
    height: 280px;
    margin-top: -140px;
  }
  #mhk-modal-inner {
    padding: 0 16px 60px;
  }
  #mhk-modal-cancel {
    line-height: 32px;
  }
}
@media screen and (max-width: 520px) {
  #mhk-modal-wrap {
    width: auto;
    margin-right: 0;
    right: 10px;
    left: 10px;
    max-width: 500px;
  }
}
@media screen and (max-height: 520px) {
  #mhk-modal-wrap {
    transition: none;
  }
}
@media screen and (max-height: 290px) {
  #mhk-modal-wrap {
    height: auto;
    margin-top: 0;
    top: 10px;
    bottom: 10px;
  }
  #mhk-modal-inner {
    overflow: auto;
    height: calc(100% - 92px);
    padding-bottom: 2px;
  }
}
[class*=" mhk-icon-"],
[class^="mhk-icon-"] {
  font-family: MuhikuPlug !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mhk-icon-captcha::before {
  content: "\e004";
}
.mhk-icon-password::before {
  content: "\e004";
}
.mhk-icon-email::before {
  content: "\e005";
}
.mhk-icon-map-marker::before {
  content: "\e007";
}
.mhk-icon-flag::before {
  content: "\e00a";
}
.mhk-icon-first-name::before {
  content: "\e00d";
}
.mhk-icon-last-name::before {
  content: "\e00e";
}
.mhk-icon-text::before {
  content: "\e00f";
}
.mhk-icon-paragraph::before {
  content: "\e010";
}
.mhk-icon-dropdown::before {
  content: "\e011";
}
.mhk-icon-checkbox::before {
  content: "\e012";
}
.mhk-icon-multiple-choices::before {
  content: "\e013";
}
.mhk-icon-multiple-choices-radio::before {
  content: "\e014";
}
.mhk-icon-number::before {
  content: "\e015";
}
.mhk-icon-website::before {
  content: "\e016";
}
.mhk-icon-calendar::before {
  content: "\e017";
}
.mhk-icon-single-item::before {
  content: "\e018";
}
.mhk-icon-file-upload::before {
  content: "\e019";
}
.mhk-icon-hidden::before {
  content: "\e01a";
}
.mhk-icon-phone::before {
  content: "\e01b";
}
.mhk-icon-custom-html::before {
  content: "\e01c";
}
.mhk-icon-section-divider::before {
  content: "\e01d";
}
.mhk-icon-payment::before {
  content: "\e01f";
}
.mhk-icon-total::before {
  content: "\e020";
}
.mhk-icon-img-upload::before {
  content: "\e022";
}
.mhk-icon-star::before {
  content: "\e024";
}
.mhk-icon-likert::before {
  content: "\e025";
}
.mhk-icon-scale-rating::before {
  content: "\e026";
}
.mhk-icon-signature::before {
  content: "\e028";
}
.mhk-icon-privacy-policy::before {
  content: "\e02c";
}
.mhk-icon-repeater::before {
  content: "\e032";
}
.mhk-icon-range-slider::before {
  content: "\e02b";
}
.mhk-icon-divider::before {
  content: "\e031";
}
.mhk-icon-wysiwyg::before {
  content: "\e901";
}
