
$muhikuforms:					#7e3bd0;
$muhikuforms-soft:				lighten($muhikuforms, 40%);

$green:							#4bce61;
$red:							#fa5252;
$orange:						#ffba00;
$blue:							#0095ff;

@import 'colors';
@import 'grids';
